--index-url https://pypi.org/simple/
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.10.0+cpu
gymnasium==1.2.3
numpy==2.4.4
pygame==2.6.1
sentence_transformers==5.2.3
stable_baselines3==2.7.1